<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="appId" value="{YOUR_APP_ID}" />
    <add key="tenantId" value="{YOUR_AAD_TENANT_ID}" />
    <add key="authRedirectURI" value="http://localhost"/>
    <add key="smtpAddressOfUnifiedGroup" value="{SMTP_ADDRESS_OF_UNIFIED_GROUP}"/>
  </appSettings>
</configuration>
